.model {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.model p {
  font-size: 25px;
}

.btn {
  background-color: purple;
  color: white;
  border: 1px solid purple;
  margin: 5px;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: medium;
}

.btn:hover {
  cursor: pointer;
  color: purple;
  background-color: white;
}
